<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
    <link th:href="@{/styles/css/index.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/dropdown.js}"></script>
    <link th:href="@{/styles/css/dropdown.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<section style="background-color: #eee; height: 100vh;">
    <div class="container">

        <h1>Users</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>email</th>
                <th>Date joined</th>
                <th>Role</th>
                <th>Job title</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.joinDate}"></td>
                    <td th:text="${user.role.getDisplayName()}"></td>
                    <td th:text="${user.jobTitle}"></td>
                    <td> <a th:href="@{/users/add-admin/{id}(id=${user.getId()})}" class="btn btn-outline-primary">Make an admin</a> </td>
                    <td> <a th:href="@{/users/add-employee/{id}(id=${user.getId()})}" class="btn btn-outline-dark">Make an employee</a> </td>
                    <td> <a th:href="@{/users/edit/{id}(id=${user.getId()})}" class="btn btn-outline-success">Edit</a> </td>
                </tr>
            </tbody>
        </table>

    </div>
</section>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>