<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web Page for State Archives">
    <title>Reading room reservation</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" th:src="@{/js/dropdown.js}"></script>
    <link th:href="@{/styles/css/dropdown.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<section style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="text-black" style="border-radius: 25px;">
                    <div class="p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-7 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Reading room reservation</p>
                                <form id="form" class="mx-1 mx-md-4" th:object="${reservation}" method="POST" enctype="utf8">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-pencil fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <input type="text" id="dateOfReservation" class="form-control form-control-lg" th:field="*{dateOfReservation}" required/>
                                            <label class="form-label" for="dateOfReservation">Reservation date</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <input type="text" id="fondSignature" class="form-control form-control-lg" th:field="*{fondSignature}" required/>
                                            <span class="text-warning" th:if="${#fields.hasErrors('fondSignature')}" th:errors="*{fondSignature}"></span>
                                            <label class="form-label" for="fondSignature">Fond signature</label>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-none fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <textarea class="form-control" name="technicalUnits" id="technicalUnits" cols="30" rows="5" style="height: 364px" th:field="*{technicalUnits}" required></textarea>
                                            <span class="text-warning" th:if="${#fields.hasErrors('technicalUnits')}" th:errors="*{technicalUnits}"></span>
                                            <label class="form-label" for="technicalUnits">Technical Units Description</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end pt-3">
                                        <button type="reset" class="btn btn-light btn-lg">Reset all</button>
                                        <button type="submit" class="btn btn-primary btn-lg ms-2">Reserve</button>
                                    </div>
                                </form>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $('#dateOfReservation').datepicker({
        format: 'dd.mm.yyyy.',
        startDate: '+2d',
        autoclose: true,
        todayHighlight: true,
        weekStart: 1,
        daysOfWeekDisabled: "0,6"
    });
</script>

<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>