<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Make Work Request</title>
  <meta charset="utf-8">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
  <script type="text/javascript" th:src="@{/js/dropdown.js}"></script>
  <link th:href="@{/styles/css/dropdown.css}" rel="stylesheet">


</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<section style="background-color: #eee; position: static">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="text-black" style="border-radius: 25px;">
          <div class="p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-7 order-2 order-lg-1">
                <p class="text-center justify-content-evenly h3 fw-bold mb-2 mx-1 mx-md-4 mt-4">Request for work certificate</p>
                <hr>
                <form id="form" class="mx-1 mx-md-4" th:object="${workRequest}" method="POST" enctype="utf8">
                  <span class="text-warning" th:if="${#fields.hasErrors('workSelection')}" th:errors="*{workSelection}"></span>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-hand-point-right fa-lg me-3 fa-fw"></i>
                    <div >
                        <input class="form-check-input" type="radio" id="dataOnSeniority" th:value="Seniority" name="selectionRadio" th:field="*{workSelection}"/>
                        <label class="form-check-label" for="dataOnSeniority">Seniority</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div >
                      <input class="form-check-input" type="radio" id="benefitedWorkExperience" th:value="Benefit" name="selectionRadio" th:field="*{workSelection}"/>
                      <label class="form-check-label" for="benefitedWorkExperience">Benefits</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div >
                      <input class="form-check-input" type="radio" id="salaryData" th:value="Salary" name="selectionRadio" th:field="*{workSelection}"/>
                      <label class="form-check-label" for="salaryData">Salary</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    </div>


                    <h5 class="mb-4 text-uppercase">Information about the person for whom a certified copy is requested:</h5>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-pencil fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input type="text" id="name" class="form-control form-control-lg" th:field="*{fullName}"/>
                        <span class="text-warning" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
                        <label class="form-label" for="name">Full name</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-calendar-alt fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input type="text" id="dateOfBirth" class="form-control form-control-lg" th:field="*{dateOfBirth}"/>
                        <span class="text-warning" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
                        <label class="form-label" for="dateOfBirth">Date of birth</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-map-marker-alt fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input type="text" id="placeOfBirth" class="form-control form-control-lg" th:field="*{placeOfBirth}"/>
                        <span class="text-warning" th:if="${#fields.hasErrors('placeOfBirth')}" th:errors="*{placeOfBirth}"></span>
                        <label class="form-label" for="placeOfBirth">Place of birth</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-stop fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input type="text" id="employersName" class="form-control form-control-lg" th:field="*{employersName}"/>
                        <span class="text-warning" th:if="${#fields.hasErrors('employersName')}" th:errors="*{employersName}"></span>
                        <label class="form-label" for="employersName">Employer</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-briefcase fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input type="text" id="profession" class="form-control form-control-lg" th:field="*{profession}"/>
                        <span class="text-warning" th:if="${#fields.hasErrors('profession')}" th:errors="*{profession}"></span>
                        <label class="form-label" for="profession">Profession</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-calendar-alt fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input type="text" id="yearsOfExperience" class="form-control form-control-lg" th:field="*{yearsOfExperience}"/>
                        <span class="text-warning" th:if="${#fields.hasErrors('yearsOfExperience')}" th:errors="*{yearsOfExperience}"></span>
                        <label class="form-label" for="yearsOfExperience">Years of Experience</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-clock fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input type="text" id="period" class="form-control form-control-lg" th:field="*{periodOfWork}"/>
                        <span class="text-warning" th:if="${#fields.hasErrors('periodOfWork')}" th:errors="*{periodOfWork}"></span>
                        <label class="form-label" for="period">Period of work</label>
                      </div>
                    </div>


                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-brain fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input type="text" id="reason" class="form-control form-control-lg" th:field="*{reasonForRequest}"/>
                        <span class="text-warning" th:if="${#fields.hasErrors('reasonForRequest')}" th:errors="*{reasonForRequest}"></span>
                        <label class="form-label" for="reason">Reason for request</label>
                      </div>
                    </div>


                  <div class="d-flex justify-content-center pt-3">
                    <button type="reset" class="btn btn-light btn-lg">Reset all</button>
                    <button type="submit" class="btn btn-primary btn-lg ms-2">Send</button>
                  </div>

                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>