<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Make BDM Request</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
  <script type="text/javascript" th:src="@{/js/dropdown.js}"></script>
  <link th:href="@{/styles/css/dropdown.css}" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<section style="background-color: #eee; position: static">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="text-black" style="border-radius: 25px;">
          <div class="p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-7 order-2 order-lg-1">
                <p class="text-center justify-content-evenly h3 fw-bold mb-2 mx-1 mx-md-4 mt-4">Request for birth, marriage or death certificate</p>
                <hr>
                <form id="form" class="mx-1 mx-md-4" th:object="${bdmRequest}" method="POST" enctype="utf8">
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-hand-point-right fa-lg me-3 fa-fw"></i>
                  <div >
                      <input class="form-check-input" type="radio" id="bdmSelectionBirth" value="Birth" name="bdmSelection" checked/>
                      <label class="form-check-label" for="bdmSelectionBirth">Birth</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                  <div >
                    <input class="form-check-input" type="radio" id="selectionRadioDeath" value="Death" name="bdmSelection"/>
                    <label class="form-check-label" for="selectionRadioDeath">Death</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                  <div >
                    <input class="form-check-input" type="radio" id="selectionRadioMarriage" value="Marriage" name="bdmSelection"/>
                    <label class="form-check-label" for="selectionRadioMarriage">Marriage</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </div>

                  <h5 class="mb-4 text-uppercase">Information about the person for whom a certified copy is requested:</h5>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-pencil fa-lg me-3 fa-fw"></i>
                    <div class="form-floating flex-fill mb-0">
                      <input type="text" id="name" class="form-control form-control-lg" th:field="*{fullName}" required/>
                      <span class="text-warning" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
                      <label class="form-label" for="name">Full name</label>
                    </div>
                  </div>

                  <div id="birthFields" style="display: block">
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-calendar-alt fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input type="text" id="dateOfBirth" class="form-control form-control-lg date-picker" th:field="*{dateOfBirth}"/>
                        <span class="text-warning" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
                        <label class="form-label" for="dateOfBirth">Date of birth</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-map-marker-alt fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input type="text" id="placeOfBirth" class="form-control form-control-lg" th:field="*{placeOfBirth}"/>
                        <span class="text-warning" th:if="${#fields.hasErrors('placeOfBirth')}" th:errors="*{placeOfBirth}"></span>
                        <label class="form-label" for="placeOfBirth">Place of birth</label>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-male fa-lg me-3 fa-fw"></i>
                    <div class="form-floating flex-fill mb-0">
                      <input type="text" id="fathersName" class="form-control form-control-lg" th:field="*{fathersName}" required/>
                      <span class="text-warning" th:if="${#fields.hasErrors('fathersName')}" th:errors="*{fathersName}"></span>
                      <label class="form-label" for="fathersName">Fathers name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-female fa-lg me-3 fa-fw"></i>
                    <div class="form-floating flex-fill mb-0">
                      <input type="text" id="mothersName" class="form-control form-control-lg" th:field="*{mothersName}" required/>
                      <span class="text-warning" th:if="${#fields.hasErrors('mothersName')}" th:errors="*{mothersName}"></span>
                      <label class="form-label" for="mothersName">Mothers name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-history fa-lg me-3 fa-fw"></i>
                    <div class="form-floating flex-fill mb-0">
                      <input type="text" id="mothersMaidenName" class="form-control form-control-lg" th:field="*{mothersMaidenName}" required/>
                      <span class="text-warning" th:if="${#fields.hasErrors('mothersMaidenName')}" th:errors="*{mothersMaidenName}"></span>
                      <label class="form-label" for="mothersMaidenName">Mothers maiden name</label>
                    </div>
                  </div>

                  <div id="marriageFields" style="display: none">
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-calendar fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input type="text" id="dateOfMarriage" class="form-control form-control-lg date-picker" th:field="*{dateOfMarriage}"/>
                        <label class="form-label" for="dateOfMarriage">Date of marriage (for Marriage certification)</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-map-marker fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input type="text" id="placeOfMarriage" class="form-control form-control-lg" th:field="*{placeOfMarriage}"/>
                        <label class="form-label" for="placeOfMarriage">Place of marriage (for Marriage certification)</label>
                      </div>
                    </div>
                  </div>

                  <div id="deathFields" style="display: none">
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-skull fa-lg me-3 fa-fw"></i>
                      <div class="form-floating flex-fill mb-0">
                        <input type="text" id="dateOfDeath" class="form-control form-control-lg date-picker" th:field="*{dateOfDeath}"/>
                        <label class="form-label" for="dateOfDeath">Date of Death (for Death certification)</label>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center pt-3">
                    <button type="reset" class="btn btn-light btn-lg">Reset all</button>
                    <button type="submit" class="btn btn-primary btn-lg ms-2">Send</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" th:src="@{/js/bdm.js}"></script>
</body>
</html>