<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Web Page for State Archives">
  <title>Request Details</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
  <script type="text/javascript" th:src="@{/js/dropdown.js}"></script>
  <link th:href="@{/styles/css/dropdown.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 text-center">
                <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Request Details</p>

                <div class="d-flex flex-row align-items-center mb-1" th:object="${request}">

                    Date created:&nbsp;&nbsp;
                  <span class="h6 mt-2" th:text="${request.getDateCreated()}"></span>
                </div>
                <div class="d-flex flex-row align-items-center mb-1" th:object="${request}">
                    Selection:&nbsp;&nbsp;
                  <span class="h6 mt-2" th:text="${request.getBdmSelection()}"></span>
                </div>
                <div class="d-flex flex-row align-items-center mb-1" th:object="${request}">

                    Person of interest:&nbsp;&nbsp;
                  <span class="h6 mt-2" th:text="${request.getFullName()}"></span>
                </div>
                <div class="d-flex flex-row align-items-center mb-1" th:object="${request}">

                    Date of birth:&nbsp;&nbsp;
                  <span class="h6 mt-2" th:text="${request.getDateOfBirth()}"></span>
                </div>
                <div class="d-flex flex-row align-items-center mb-1" th:object="${request}">

                    Place of birth:&nbsp;&nbsp;
                  <span class="h6 mt-2" th:text="${request.getPlaceOfBirth()}"></span>
                </div>
                <div class="d-flex flex-row align-items-center mb-1" th:object="${request}">

                    Father's name:&nbsp;&nbsp;
                  <span class="h6 mt-2" th:text="${request.getFathersName()}"></span>
                </div>
                <div class="d-flex flex-row align-items-center mb-1" th:object="${request}">

                    Mother's name:&nbsp;&nbsp;
                  <span class="h6 mt-2" th:text="${request.getMothersName()}"></span>
                </div>
                <div class="d-flex flex-row align-items-center mb-1" th:object="${request}">
                    Mother's maiden name:&nbsp;&nbsp;
                  <span class="h6 mt-2" th:text="${request.getMothersMaidenName()}"></span>
                </div>
                <div class="d-flex flex-row align-items-center mb-1" th:object="${request}">

                    Date of marriage:&nbsp;&nbsp;
                  <span class="h6 mt-2" th:text="${request.getDateOfMarriage()}"></span>
                </div>
                <div class="d-flex flex-row align-items-center mb-1" th:object="${request}">

                    Place of marriage:&nbsp;&nbsp;
                  <span class="h6 mt-2" th:text="${request.getPlaceOfMarriage()}"></span>
                </div>
                <div class="d-flex flex-row align-items-center mb-1" th:object="${request}">

                    Date of death:&nbsp;&nbsp;
                  <span class="h6 mt-2" th:text="${request.getDateOfDeath()}"></span>
                </div>

                <div class="d-flex flex-row align-items-center mb-5">
                  <span th:if="${request.isCompleted()}">
                    <a th:href="@{/response/request/{id}(id=${request.getId()})}" class="btn btn-primary">Open Cover Letter</a>
                  </span>
                  <span sec:authorize="hasRole('EMPLOYEE')" th:if="${!request.isCompleted()}">
                    <a th:href="@{/responses/{id}(id=${request.getId()})}" class="btn btn-primary mt-3 m-lg-2">Write Cover Letter</a>
                  </span>
                  <a sec:authorize="hasRole('USER')" th:href="@{/bdm-requests/delete/{id}(id=${request.getId()})}" class="btn btn-danger mt-3 m-lg-2">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>