<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Education requests</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
  <script type="text/javascript" th:src="@{/js/dropdown.js}"></script>
  <link th:href="@{/styles/css/dropdown.css}" rel="stylesheet">
  <link th:href="@{/styles/css/sidebar.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>

</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<section style="background-color: #eee;">
  <div class="container">
    <h1>Education Requests</h1>
    <div class="align-content-center" sec:authorize="hasAnyRole('ADMIN', 'USER', 'EMPLOYEE')">
      <form action="/search-education-requests" method="get" class="form-inline d-flex m-3" style="justify-content: center; margin-top: 10px;">
        <input class="form-control mr-sm-2 " type="search" placeholder="Search" name="keyword" aria-label="Search" style="max-width: 300px; margin-right: 5px;">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    <hr>
    <table class="table table-striped">
      <thead>
      <tr>
        <th><a th:href="@{/user-education-requests/all/{userId}(userId=${session.user.id},keyword=${keyword},page=0,size=${educationRequests.size},sortBy='dateCreated',sortOrder=${sortOrder == 'asc' ? 'desc' : 'asc'})}" th:text="'Date' + (${sortBy} == 'dateCreated' ? (${sortOrder} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th><a th:href="@{/user-education-requests/all/{userId}(userId=${session.user.id},keyword=${keyword},page=0,size=${educationRequests.size},sortBy='educationSelection',sortOrder=${sortOrder == 'asc' ? 'desc' : 'asc'})}" th:text="'Selection' + (${sortBy} == 'cadastralSelection' ? (${sortOrder} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th><a th:href="@{/user-education-requests/all/{userId}(userId=${session.user.id},keyword=${keyword},page=0,size=${educationRequests.size},sortBy='fullName',sortOrder=${sortOrder == 'asc' ? 'desc' : 'asc'})}" th:text="'Person of interest' + (${sortBy} == 'fullName' ? (${sortOrder} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th><a th:href="@{/user-education-requests/all/{userId}(userId=${session.user.id},keyword=${keyword},page=0,size=${educationRequests.size},sortBy='schoolName',sortOrder=${sortOrder == 'asc' ? 'desc' : 'asc'})}" th:text="'School Name' + (${sortBy} == 'schoolName' ? (${sortOrder} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th><a th:href="@{/user-education-requests/all/{userId}(userId=${session.user.id},keyword=${keyword},page=0,size=${educationRequests.size},sortBy='yearOfEnrollment',sortOrder=${sortOrder == 'asc' ? 'desc' : 'asc'})}" th:text="'Enrolled' + (${sortBy} == 'yearOfEnrollment' ? (${sortOrder} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th><a th:href="@{/user-education-requests/all/{userId}(userId=${session.user.id},keyword=${keyword},page=0,size=${educationRequests.size},sortBy='yearOfGraduation',sortOrder=${sortOrder == 'asc' ? 'desc' : 'asc'})}" th:text="'Graduated' + (${sortBy} == 'yearOfGraduation' ? (${sortOrder} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th><a th:href="@{/user-education-requests/all/{userId}(userId=${session.user.id},keyword=${keyword},page=0,size=${educationRequests.size},sortBy='completed',sortOrder=${sortOrder == 'asc' ? 'desc' : 'asc'})}" th:text="'Completed' + (${sortBy} == 'completed' ? (${sortOrder} == 'asc' ? '▲' : '▼') : '')"></a></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <th:block th:each="request: ${educationRequests.content}">
          <tr>
            <td th:text="${request.dateCreated}"></td>
            <td th:text="${request.educationSelection}"></td>
            <td th:text="${request.fullName}"></td>
            <td th:text="${request.schoolName}"></td>
            <td th:text="${request.yearOfEnrollment}"></td>
            <td th:text="${request.yearOfGraduation}"></td>
            <td th:text="${request.isCompleted() ? 'Yes' : 'No'}"></td>
            <td> <a th:href="@{/request/{requestName}/{requestId}(requestName=${request.getRequestName()},requestId=${request.getId()})}" class="btn btn-primary">Details</a>
            <td th:if="${request.isCompleted()}">
              <a th:href="@{/response/request/{id}(id=${request.getId()})}" class="btn btn-primary">Open</a>
            </td>
            <td> <a th:href="@{/education-requests/delete/{id}(id=${request.getId()})}" class="btn btn-danger">Delete</a> </td>
            <td></td>
          </tr>
        </th:block>
      </tbody>
    </table>
    <a th:href="@{/education-requests}" class="btn btn-outline-primary">Create new</a>
    <div class="text-center">
      <a class="fas fa-arrow-circle-left" th:if="${currentPage > 0}" th:href="@{/user-education-requests/all/{userId}(userId=${session.user.id},keyword=${keyword},page=${currentPage - 1},size=${educationRequests.size},sortBy=${sortBy},sortOrder=${sortOrder})}"></a>
      <span th:text="${currentPage + 1} + ' of ' + ${educationRequests.totalPages}" style="font-size: 20px; color: #3b71ca"></span>
      <a class="fas fa-arrow-circle-right" th:if="${currentPage + 1 < educationRequests.totalPages}" th:href="@{/user-cadastral-requests/all/{userId}(userId=${session.user.id},keyword=${keyword},page=${currentPage + 1},size=${educationRequests.size},sortBy=${sortBy},sortOrder=${sortOrder})}"></a>
    </div>
  </div>
</section>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>