<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>

</head>
<body class="text-center">

<div th:replace="~{fragments/header :: header}"></div>

<div class="container mx-auto mt-5">
    <h1>
        Welcome to e-dast <br>
        <div th:text="${#authentication.principal.name}"></div><br>     <!--OVO TRIBA PROMINIT, ADMIN MOŽE VIDIT SVE, USER NE-->
    </h1>
        <div sec:authorize="hasAnyRole('USER', 'ADMIN')">
            <a class="btn btn-secondary mb-3 m-3" th:href="@{/my-requests/{id}(id=${user.getId()})}">My requests</a>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <a class="btn btn-info mb-3 m-3" th:href="@{/requests/all}">Requests</a>
        </div>
        <div sec:authorize="hasRole('EMPLOYEE')">
            <a class="btn btn-dark mb-3 m-3" th:href="@{/my-requests/{id}(id=${user.getId()})}">My Requests</a>
        </div>

    <a th:href="@{/requests}" class="btn btn-success mb-3 m-5">Make a request</a> <br>
    <a th:href="@{/logout}" class="btn btn-warning mb-3 m-5">Logout</a>

</div>
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>