<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
    <link th:href="@{/styles/css/index.css}" rel="stylesheet">

</head>
<body>

<h2 class="text-center m-5">Welcome to e-dast!</h2>

<div class="text-center m-5">

<!--    <a th:href="@{/archive}" class="btn btn-outline-info mb-3 m-5">Archives</a>-->
    <a href="https://www.das.hr/koristenje-gradiva/digitalizirano-arhivsko-gradivo/" class="btn btn-info mb-3 m-5">Archives</a>

    <a th:href="@{/login}" class="btn btn-success mb-3 m-5">Login</a>
    <a th:href="@{/register}" class="btn btn-warning mb-3 m-5">Register</a>

</div>

</body>
</html>