<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Response of request</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">

  <h1>Response of request</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Date of Creation</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td th:text="${response.title}"></td>
        <td th:text="${response.content}"></td>
        <td th:text="${response.dateOfCreation}"></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-outline-dark mt-auto" style="width: 100px;" onclick="history.back()">Back</button>

</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>